In [2]:
import pandas as pd

In [5]:
data= pd.read_csv('Marketing+Data/marketing_data.csv')
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,84835.0,0,0,2014-06-16,0,189,...,6,1,0,0,0,0,0,1,0,Spain
1,1,1961,Graduation,Single,57091.0,0,0,2014-06-15,0,464,...,7,5,0,0,0,0,1,1,0,Canada
2,10476,1958,Graduation,Married,67267.0,0,1,2014-05-13,0,134,...,5,2,0,0,0,0,0,0,0,USA
3,1386,1967,Graduation,Together,32474.0,1,1,2014-05-11,0,10,...,2,7,0,0,0,0,0,0,0,Australia
4,5371,1989,Graduation,Single,21474.0,1,0,2014-04-08,0,6,...,2,7,1,0,0,0,0,1,0,Spain

In [6]:
data.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
 Income                24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Response                0
Complain                0
Country                 0
dtype: int64

In [12]:
data[' Income ']

0       84835.0
1       57091.0
2       67267.0
3       32474.0
4       21474.0
         ...
2235    66476.0
2236    31056.0
2237    46310.0
2238    65819.0
2239    94871.0
Name:  Income , Length: 2240, dtype: float64

In [13]:
data1= pd.read_csv('NYC_Collisions/NYC_Collisions.csv')
data1.head()

,Collision ID,Date,Time,Borough,Street Name,Cross Street,Latitude,Longitude,Contributing Factor,Vehicle Type,Persons Injured,Persons Killed,Pedestrians Injured,Pedestrians Killed,Cyclists Injured,Cyclists Killed,Motorists Injured,Motorists Killed
0,4491746,2021-01-01,20:00:00,Bronx,Bruckner Expressway,NaN,40.83398,-73.826350,Pavement Slippery,Passenger Vehicle,0.0,0,0,0,0,0,0,0
1,4441905,2021-01-01,05:28:00,Brooklyn,Lafayette Avenue,NaN,40.68730,-73.973656,Unspecified,Passenger Vehicle,0.0,0,0,0,0,0,0,0
2,4382769,2021-01-01,06:00:00,Staten Island,West Shore Expressway,NaN,NaN,NaN,Fell Asleep,Passenger Vehicle,0.0,0,0,0,0,0,0,0
3,4380949,2021-01-01,19:30:00,Bronx,Sedgwick Avenue,Vancortlandt Avenue West,40.88270,-73.892730,NaN,Not Reported,0.0,0,0,0,0,0,0,0
4,4380940,2021-01-01,07:40:00,Brooklyn,Cortelyou Road,Mc Donald Avenue,40.63791,-73.978640,Unspecified,Passenger Vehicle,0.0,0,0,0,0,0,0,0

In [15]:
data1.isnull().sum()

Collision ID                0
Date                        0
Time                        0
Borough                  7197
Street Name               363
Cross Street           127130
Latitude                22323
Longitude               22323
Contributing Factor      1287
Vehicle Type                0
Persons Injured             1
Persons Killed              0
Pedestrians Injured         0
Pedestrians Killed          0
Cyclists Injured            0
Cyclists Killed             0
Motorists Injured           0
Motorists Killed            0
dtype: int64

In [18]:
data1[['Borough', 'Street Name', 'Cross Street', 'Latitude', 'Longitude', 'Contributing Factor']]

,Borough,Street Name,Cross Street,Latitude,Longitude,Contributing Factor
0,Bronx,Bruckner Expressway,NaN,40.833980,-73.826350,Pavement Slippery
1,Brooklyn,Lafayette Avenue,NaN,40.687300,-73.973656,Unspecified
2,Staten Island,West Shore Expressway,NaN,NaN,NaN,Fell Asleep
3,Bronx,Sedgwick Avenue,Vancortlandt Avenue West,40.882700,-73.892730,NaN
4,Brooklyn,Cortelyou Road,Mc Donald Avenue,40.637910,-73.978640,Unspecified
...,...,...,...,...,...,...
238416,Brooklyn,Meeker Avenue,NaN,40.715443,-73.951850,Failure to Yield Right-of-Way
238417,Queens,Elbertson Street,Elmhurst Avenue,40.746864,-73.877170,Backing Unsafely
238418,Brooklyn,Cortelyou Road,East 17 Street,40.642017,-73.962660,Unspecified
238419,Manhattan,West 50 Street,NaN,40.763790,-73.989655,Driver Inattention/Distraction
238420,Bronx,Watson Avenue,Manor Avenue,40.826400,-73.875810,Driver Inattention/Distraction

In [ ]:
import pandas as pd
import googlemaps

# Replace with your Google Maps API key
gmaps = googlemaps.Client(key='YOUR_API_KEY')

# Read the data into a pandas DataFrame
data = pd.read_csv('your_data.csv')

# Function to get the cross street from coordinates
def get_cross_street(lat, lng, street_name):
    try:
        reverse_geocode_result = gmaps.reverse_geocode((lat, lng))
        if reverse_geocode_result:
            address_components = reverse_geocode_result[0]['address_components']
            for component in address_components:
                if 'route' in component['types']:
                    street = component['long_name']
                    if street != street_name:
                        return street
    except Exception as e:
        print(f"Error: {e}")
    return None

# Fill the null values in the 'Cross Street' column
data['Cross Street'] = data.apply(lambda row: get_cross_street(row['Latitude'], row['Longitude'], row['Street Name']) if pd.isnull(row['Cross Street']) else row['Cross Street'], axis=1)

# Save the updated DataFrame to a new CSV file
data.to_csv('updated_data.csv', index=False)